:root {
  --background-page-color: #e5e5e5;
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --bgc-footer: #2f303a;
  --bgc-teams: #f5f4fa;
}
